<!-- <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">IsApproved</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td class="text-center">
              <button class="btn btn-success btn-block" *ngIf="!user.isDisabled" (click)="approved(user.username)">Approved</button>
              <button class="btn btn-danger btn-block" *ngIf="user.isDisabled" (click)="disabled(user.username)">Not Approved</button>
            </td>
           
        </tbody>
      </table>
    </div>
  </div> -->

<div>
  <!-- <app-navbar></app-navbar> -->
  <!-- ======= Sidebar ======= -->


    <div class="dash">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">GLOBAL</li>
        </ol>
      </nav>
    </div>

    

<div class="controls" *ngIf="isEmbedded; else embedReportFlow">
  <button (click)="deleteVisual()">Delete Visual</button>
  <button (click)="hideFilterPane()">Hide Filter Pane</button>
  <button (click)="setDataSelectedEvent()">Set Event</button>
  <div class="display-message" #status>{{ displayMessage }}</div>
</div>
<ng-template #embedReportFlow>
  <div class="display-message position" #status>
    <label>{{ displayMessage }}</label>
  </div>
  <div class="embed-report">
    <button (click)="embedReport()" id="embed-action" #embedReportBtn>Embed Report</button>
  </div>
  <div class="separator"></div>
</ng-template>

<powerbi-report [embedConfig]="reportConfig" [cssClassName]="reportClass" [phasedEmbedding]="phasedEmbeddingFlag" [eventHandlers]="eventHandlersMap">
</powerbi-report>

    <app-user-tunis></app-user-tunis>
    <app-user-bizert></app-user-bizert>
    <!-- End Table with stripped rows -->


</div>

   