<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="/notpclient" class="navbar-brand" *ngIf="isLoggedIn" >AHMEDBZ</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" >
          <div class="col col-lg-2">
          <a routerLink="/clients" class="btn btn-info" *ngIf="isLoggedIn">List des Client</a>
        </div>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <div class="col col-lg-2">
          <a routerLink="/addClient" class="btn btn-info" *ngIf="isLoggedIn">Ajouter Client</a>
        </div>
        </li>
        <li class="nav-item">
          <div class="col col-lg-2">
          <a routerLink="/cheques" class="btn btn-info" *ngIf="isLoggedIn">Cheques</a>
        </div>
        </li>
        <li class="nav-item">
          <div class="col col-lg-2">
          <a class="btn btn-info" *ngIf="isLoggedIn">Balance {{ balance }} dt</a>
        </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <P class="blocktext" >Ben Jemaa Mobile</P>
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">     
        <li class="nav-item" *ngIf="showAdminBoard">
          <div class="col col-lg-3">
          <a href="/admin" class="nav-link" routerLink="admin" class="btn btn-info">Admin Board</a>
        </div>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="/">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Se déconnectér</a>
        </li>
      </ul>
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
  </div>